*{
    margin: 0;
}

body{
    background-color: rgb(0, 0, 0);
    font-size: 16px;
}
.base{
    font-family: 'Righteous', cursive;
}

.visualNumeros{
    font-family: 'Stick No Bills', sans-serif;
    background-color: rgb(0, 0, 0);
    color: rgb(213, 250, 6);
    font-size: 6.25rem;
    text-shadow: 0rem 0rem 0.62rem  rgb(213, 250, 6);
    box-shadow: inset 0rem 0rem 1.9rem rgb(130, 153, 1);
    text-align: center;
    padding-left: 0.18rem;
    padding-right: 0.18rem;
    border-radius: 1.25rem;
    margin-bottom: 4.5rem;
}

button{
    background-color: rgb(213, 250, 6);
    border-radius: 0.25rem;
    font-size: 1.95em;
    padding: 0.31rem;
    margin: 0.18rem;
    font-family: 'Righteous', cursive;
    border-width: 0.31rem;
    border-color: rgb(213, 250, 6);
}


input{
    width: 3.20rem ;
    border-width: 0.18rem;
    border-color: rgb(71, 71, 70);
    text-align: center;
    margin-bottom: 4.875rem;
    margin-top: 1.875rem;
    padding: 0.375rem;
    font-size: 1.95em;
    font-weight:bold;
    color:rgb(213, 250, 6);
    background-color: rgb(22, 22, 22);

}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number] { -moz-appearance:textfield; }


header{
    
    text-align:center;
    background-color: rgb(22, 22, 22);
    padding: 0.10em;
    font-family: 'Righteous', cursive;
    font-size: 6.25em;
    color: rgb(213, 250, 6);

}

.valoresUsuario{
    text-align: center;
}


@media (max-width: 800px){
    body{
        font-size: 10px;
        background-color: black;
    }
    .visualNumeros{
        font-size: 5.125rem;
        margin-bottom: 8rem;
    }
    input{
        margin-bottom: 8rem;
    }
    button{
        margin-bottom: 0.5rem;
    }

}

@media (max-width: 500px){
    body{
        font-size: 8px;
        background-color: rgb(0, 0, 0);
    }
    .visualNumeros{
        font-size: 3.125rem;
        margin-bottom: 10rem;
    }
    input{
        margin-bottom: 9rem;
    }
    button{
        margin-bottom: 2rem;
    }

}
